{% extends "base.html" %}
{% load static %}

{% block full_container %}
		
<div class="full_container">
  <div class="centerl_container mtop0">

	<!-- Box 1 -->
    <div class="boxgrey3">
		<p>At Talentomi, we believe talents are our treasures.  Like treasures, talent are rare and have not been explored enough.  We are using technology to explore and help talent achieve their full potential.</p>

	  <h4>Developed by industry experts</h4>
	  <p>Founders of Talentomi have developed software and run professional services organizations in Software, IT and Hi-Tech industry and tools for the last two decades. They have explored talent and hired over 1000s of Analysts, System Administrators, Architects, iOS, Android, Java, .NET, Python and other developers.  With plenty of growth and success under their belt for Fortune 500 and startups along with lots of pains and frustrations to discover talent, our team has created Talentomi.  Talentomi is a Talent Discovery and Relationship Management platform.</p>

	  <h4>Proven benefits</h4>
	  <p>Talentomi founder ran 2 pilot programs with their own tool to discover talent within software and IT vertical.  Talentomi has identified areas of weaknesses and potential improvements such as verified performances, skill assessments, face to face screening, and talent strength analysis. This apart from being a marketing engine for talent it can immensely help them improve their performances.</p>
	  <div class="clearfix"></div>
	  <!-- <div class="aboutcrumb">
		<div class="aboutcrumb1">
			<span>Students join SG</span>
			<p>Smart students join to challenge themselves and define career interests</p>
		</div>
		
		<div class="aboutcrumb2">
			<span>Challenges & contests</span>
			<p>Students take on challenges and contests.  Find their teams and execute</p>
		</div>

		<div class="aboutcrumb3">
			<span>Mentor & Projects connect</span>
			<p>Student get hands-on with projects and mentorships to develop performances</p>
		</div>

		<div class="aboutcrumb4">
			<span>Find the next challenge!</span>
			<p>Student discovery + mentorship + performances + SG = Great future!</p>
		</div>

	  </div> -->
	</div>




  </div>
</div>
<!-- END Main -->
<div class="clearfix"></div>
	{% endblock %}
