<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>edit</title>
		<meta name="author" content="Vijay Viswanathan" />
		<!-- Date: 2013-06-04 -->
	</head>
	<body>
		<h1>Editing 1</h1>
		<form method="post" action="/studentgrind/1/save/">
			<table border="2">
				<tr><td>First Name</td>
					<td>
			<textarea name="name">{{fname}}</textarea></td></tr>
			<tr>
				<td>User Type</td>
				<td><input type="text" name="type" value = "{{type}}"></input></td></tr>
			<tr>
				<td></td><td><input type="submit" value= "Save Page"/></td></tr>
			</table>
		</form>
	</body>
</html>
