<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Sg</title>
<meta charset="UTF-8">
<!--Bhawana-->
<link href="css/stye.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>	
</head>
	<body>
<header>
	<a href="index.html"><img src="images/sg-logo.png" width="62" height="60" border=0 alt="Student Grid" class="logo" /></a>
	<div class="topnav">
		<form method=post action="" name="logbox" id="logbox" class="logbox">
			<a href="http://www.studentgrind.co/">Logout</a>
		</form>
		<div class="sharebox"><a class="icon_fb" href="https://www.facebook.com">&nbsp;</a><a class="icon_in" href="https://www.linkedin.com">&nbsp;</a><a href="https://www.twitter.com" class="icon_twitter">&nbsp;</a></div>
		<div class="menu">
			<a href="#">Home</a>&nbsp; | &nbsp;<a href="http://www.studentgrind.co/about">What is Student Grind</a> | <a href="http://www.studentgrind.co/instalum">Alumni or Institution</a>
		</div>
	</div>
</header>
		
		<div class="centerl_container maxw1216">
		
		<div class="centerl_containerContent">
			<div class="containerLeft_02">
				<h1>Endorse your Performance</h1>
				<form class="registrationForm">
					<div class="formRow">
					
						<div class="textInputHolder_02">
						<span class="inputLeftCorner"></span><input type="text" value="First Name" /><span class="inputRightCorner"></span>	
						</div>
						
						<div class="textInputHolder">
						<span class="inputLeftCorner"></span><input type="text" value="Last Name" /><span class="inputRightCorner"></span>	
						</div>	
					</div>
					
					<div class="formRow_05">
						<div class="textInputHolder">
						<span class="inputLeftCorner"></span><input type="text"value="email@emailaddress.com" /><span class="inputRightCorner"></span>	
						</div>
					</div>
					
					<div class="formRow_05">
						<textarea>Provide brief message regarding your request</textarea>						
					</div>
					
					<div class="btnHolder_05">
						<input type="button" class="rqstVerfication" value=""/>
					</div>
					
					
					</form>
					
			</div>
			
			
		</div>
		</div>
		<div class="clearfix"></div>		
		<footer>
	Copyright 2013 Student Grind Inc
</footer>

		
	</body>
</html>