
<b>{{date_today}}</b> </br>
<p>Dear {{user.fName}} {{lName}},</p></br>
<p>We received a request to reset your account password. If you did not make this request, please send us an email to admin@talentomi.com immediately.</br>
You can now log in to your account using your email address and temporary password below. After logging in, you will be prompted to choose a new password.</p> </br></br>
Email address: {{user.emailId}}</br>
Temporary Password: {{new_pass}}</br>
Click here to <a href="http://www.studentgrind.co">log in</a></br>


Thank you,</br>
Talentomi Team