{% extends "base.html" %}

{% load static %}

{% block full_container %}
<!-- Start Main -->
<div class="full_container">
	<section id="home">
	<div>Explore our&nbsp;<br> <span>treasured</span> <br>talents!&nbsp;&nbsp;</div>
	</section>

	<section id="home_1">
		<div>More than 10 million candidates looking for jobs on a daily basis</div>
	</section>

	<section id="home_4">
		<div><span>66%</span> of hires change jobs after 1 year</div>
	</section>

	<section id="home_5">
		<div>Recruiters and hiring enterprises need validated top 25% talent</div>
	</section>

	<section id="home_2">
		<div><span>57%</span> of typical job interviews are accurate</div>
	</section>



	<section id="home_3">
		<div><span>44%</span> of resumes going through background check come back with anomalies</div>
	</section>

	<section id="home_6">
		<div>At Talentomi, we know our talent personally. We are using technology to make that change.<br><br>
			<ul>
			<li><p><img src="{% static 'images/icon-star.gif' %}" width="52" height="66" border=0 alt=""><span>VERIFIED PERFORMANCES</span></p> 
				Why rely on resumes, spending your time only to look for a more challenging, fit job after hire?
				<br><br>
				Talentomi brings out the best in talent for each project he/she has worked on.   
			</li>
			<li class="tright"><p><img src="{% static 'images/icon-challenge.gif' %}" width="52" height="66" border=0 alt=""><span>CHALLENGES</span></p>
			Why role the dice trying to figure out how you perform to new challenges?
			<br><br>
			Talentomi provides employers with challenges and assess how talent perform.
			</li>
			<li><p><img src="{% static 'images/icon-eye.gif' %}" width="52" height="66" border=0 alt=""><span>ASSESSMENTS</span></p>
			What is better than knowing your skill strengths?
			<br><br>
			Assessing your skills and focusing on the strength areas to drive your career.
			</li>
			<li class="tright"><p><img src="{% static 'images/icon-personal.gif' %}" width="52" height="66" border=0 alt=""><span>PERSONAL REFERRALS</span></p>
			Can there be a more delightful moment than cherishing your team experiences?
			<br><br>
			Why not repeat those fun experiences?  Thats the magic Talentomi's personal referrals does.
			</li>
			<li><p><img src="{% static 'images/icon-talent.gif' %}" width="52" height="66" border=0 alt=""><span>TALENT FIT</span></p>
			Why apply for jobs when they should come to you?
			<br><br>
			Authenticate performances, take on challenges, assess your skills and leave the rest to us.  We will bring the right fit for you!</li>

			<li class="tright"><p><img src="{% static 'images/icon-marker.gif' %}" width="52" height="66" border=0 alt=""><span>BE IN THE  DRIVER SEAT</span></p>
			Just love what you do and drive your career!</li>
			</ul>
		</div>
	</section>
	<div class="scrolldown">&nbsp;</div>
</div>
<!-- END Main -->
{% endblock %}
