
<b>{{date_today}}</b> 
<p>Dear Talentomi User,</p>
<p>We had received your request on {{invite.authorizedOn}}. Your request has been {% if invite.authorized %} accepted {% else %} Rejected{% endif %}</p> 
{% if invite.authorized %}
<p>Please use your sign up code as: {{invite.signUpCode}} for registering at <a href="http://www.talentomi.com/?showauthenicate=1&email={{invite.emailId}}">http://www.talentomi.com/?showauthenicate=1&email={{invite.emailId}}</a>.</p>

<p>Hope you are as excited as we are in having you!</p>


{% endif %}

<br>
Talentomi Team